* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  background-color: rgb(102, 12, 102);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 70px; 
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to right,
      rgba(101, 0, 163, 0.9),
      rgba(24, 120, 175, 0.9)),
    url('https://images.unsplash.com/photo-1633907284646-7abf4a195875?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80');

}

.container {
  display: flex;
  max-width: 800px;
  margin-top: 100px;
  background-color: #d686e0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
  flex-basis: 25%;
  padding-right: 20px;
}

#daySelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-list {
  flex-basis: 75%;
  text-align: left;
}

#taskInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  flex: 2;
  font: inherit;
  font-size: 15px;
}
#taskInput::placeholder {
    font-weight: 500;

    color: #959c9f;
}

#addTaskButton {
  color: #161921;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 16px 9px;
  border-radius: 500px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;
  transform: translateY(-2px) translateZ(0) rotate(0);
}

#addTaskButton:hover,
#addTaskButton:focus {
    transform: translateY(-2px) translateZ(0) scale(1.15);
}

#taskList {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list li span {
  margin-right: 10px;
}

.todo-list li button {
  background-color: #8c44ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list li button:hover {
  background-color: #ff0000;
}